Django>=4.2,<5.0
gunicorn>=21.2
psycopg2-binary>=2.9
django-crispy-forms>=2.0
crispy-bootstrap5>=0.7
psutil>=5.9
reportlab>=4.0
openpyxl>=3.1
django-jazzmin>=2.6
python-dateutil>=2.8
faker>=20.0
celery>=5.3
redis>=5.0
requests>=2.31
arabic-reshaper>=3.0
python-dotenv>=1.0
whitenoise>=6.5
waitress>=2.1
djangorestframework>=3.14
drf-spectacular>=0.27
django-filter>=23.0
pyotp>=2.9
qrcode>=7.4
pillow>=9.1
